/*! Skeleton Framework | 1.0.4 | MIT | Dec 20th, 2015 */

/* Extra Styles */

/* GitHub Theme */
.prettyprint {
  background: #fff;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 1.2rem;
  padding: 2.5rem 3rem;
  -webkit-font-smoothing: antialiased;
}

body {
  background-image: url("../img/meatbg.jpg"), url("../img/Topology-2.png");
  background-repeat: no-repeat, repeat; /* First image no repeat, second repeats */
  background-position: top center, top center; /* First image sticks to top */
  background-size: contain, cover; /* Adjust to your needs */
  background-attachment: scroll, scroll; /* Optional: second one stays on scroll */
}


.site-header {
  width: 100%;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  padding: 15px 0;
  padding-bottom: 65px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #ff5959;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #dd4a4a;
  color: #ffffff;
}


.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  height: 50px;
  width: auto;
}

.header-center img {
  height: 5vw;
  width: auto;
  display: block;
}

.header-center {
  position: absolute; top: 30px; 
 display:flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header-center img {
  display: flex;
  height: auto; 
}
.header-center a {
  text-decoration: none;
  color: #000;
}

.header-center a:hover {
  text-decoration: underline;
}


.header-right {
  align-items: center;
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.header-right a:hover {
  text-decoration: underline;
}


body {
  margin-top: 80px;
  padding-top: 90px;
}

.hover-dark {
  transition: 0.3s;
}

.hover-dark:hover {
  filter: brightness(85%);
}

.carousel-container {
  width: 100%;
  max-width: 1400px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 15vw;
  top: 0;
}

.carousel {
 display: flex;
  height: 100%;
}

.carousel a {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-img {
  margin: 0 auto;
 width: 100%;
  height: 50vw;
  object-fit: contain; 
  object-position: top;
  display: block;
}

.footer {
  width: 100%;
  background: #ffffff;
  color: rgb(58, 58, 58);
    padding: 30px 0;
}

.footer-container {
   max-width: 1200px;  
  margin: 0 auto;    
  display: flex;
  justify-content: center;
  gap: 50px;              
}

.footer-container ul {
  list-style: none;
  padding: 0;
}

.footer-container a {
  color: #575757;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}

.pln {
  color: #333333;
}

@media screen {
  .str {
    color: #dd1144;
  }

  .kwd {
    color: #333333;
  }

  .com {
    color: #999988;
  }

  .typ {
    color: #445588;
  }

  .lit {
    color: #445588;
  }

  .pun {
    color: #333333;
  }

  .opn {
    color: #333333;
  }

  .clo {
    color: #333333;
  }

  .tag {
    color: navy;
  }

  .atn {
    color: teal;
  }

  .atv {
    color: #dd1144;
  }

  .dec {
    color: #333333;
  }

  .var {
    color: teal;
  }

  .fun {
    color: #990000;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* My additional styles */

/*li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }*/

.prettyprint li {
  margin-bottom: .3rem;
}
.container {
  max-width: 980px;
}

.header {
  margin-top: 4rem;
  text-align: center;
}

.value-prop {
  margin-top: 1rem;
}

.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
}

.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0;
}

.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0;
}

.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem;
}

.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal;
}

.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.code-example-body {
  white-space: pre;
  word-wrap: break-word
}

.example {
  position: relative;
  margin-top: 4rem;
}

.example-header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.example-description {
  margin-bottom: 1.5rem;
}

.example-screenshot-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #eee;
  height: 250px;
}

.example-screenshot {
  width: 100%;
  height: auto;
}

.example-screenshot.coming-soon {
  width: auto;
  position: absolute;
  background: #eee;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}

.navbar {
  display: none;
}


/* Larger than phone */

@media (min-width: 550px) {
  .header {
    margin-top: 3rem;
  }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem;
  }
  .value-img {
    margin-bottom: 1rem;
  }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem;
  }
  .docs-section {
    padding: 6rem 0;
  }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px;
  }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none;
  }
}


/* Larger than tablet */

@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0;
  }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .navbar-spacer {
    display: none;
  }
  .navbar > .container {
    width: 100%;
  }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
  }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
  .navbar-link.active {
    color: #33C3F0;
  }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }
  .has-docked-nav .navbar-spacer {
    display: block;
  }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%;
  }
  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
    -moz-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
  }
  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px;
  }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .popover-item {
    padding: 0;
    margin: 0;
  }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem;
  }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0;
  }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0;
  }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0;
  }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0;
  }
}
